.tile {
    display:            flex;

    background-color: #141414;
    border-radius: 10px;
    padding: 1rem;
    cursor:     pointer;
    transition: .2s all ease-in-out;
    box-shadow: none;

    &:hover {
        transform: scale(1.02);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    &:hover h2 {
        color: #ffb14b;
    }

    &__image {
        flex: 1 1 20%;

        &__image {
            border-radius: 10px;
            min-width:  135px;
            min-height: 135px;
            max-width:  135px;
            max-height: 135px;

            object-fit: cover;
        }
    }

    &__data {
        flex: 1 1 80%;

        h2 {
            text-align: left;
            font-size:  1.5rem;
            font-weight:    700;
        }

        p {
            margin-top: 6px;
            text-align: left;
            font-size:  1rem;
            color:      #C0C0C0;
        }
    }

    &__container {
        display: flex;
        width:  100%;
        gap: 1rem;
    }

    &__meta {
        display: flex;
        justify-content: end;
        align-items: end;

        p {
            margin-top: 6px;
            text-align: right;
            font-size:  1rem;
            color:      #C0C0C0;
        }
    }
}