.featured {

    display:        flex;
    flex-direction: column;

    &__cover {
        max-width:  488px;
        max-height: 488px;
        border-radius:  10px;
    }

    h2 {
        margin-top: 1rem;
        font-size:  2rem;
        color:      #FFF;

        &::before {
            content: '"';
        }

        &::after {
            content: '"';
        }
    }

    h3 {
        margin-top: 1rem;
        font-size:  1.5rem;
        color:      #C0C0C0;
    }
}