.featured {

    display:        flex;
    flex-direction: column;
    max-width:      488px;

    &__wrapper {
        overflow:       hidden;
        border-radius:  10px;
        display:        flex;
        justify-content:    center;
        align-items:        center;
        cursor:             pointer;
    }

    &__cover {
        min-width:  488px;
        min-height: 488px;
        border-radius:  10px;
        transition:     0.4s;

        &:hover {
            transform: scale(1.2);
        }
    }

    h2 {
        margin-top: 1rem;
        font-size:  2rem;
        color:      #FFF;

        &::before {
            content: '"';
        }

        &::after {
            content: '"';
        }
    }

    h3 {
        margin-top: 1rem;
        font-size:  1.5rem;
        color:      #C0C0C0;
    }
}