.featured {

    display:        flex;
    flex-direction: column;
    max-width:      488px;
    transition:     all .2s ease-in-out;

    &__wrapper {
        overflow:       hidden;
        border-radius:  10px;
        display:        flex;
        justify-content:    center;
        align-items:        center;
        cursor:             pointer;
        position:           relative;

        &__meta {
            position:   absolute;
            bottom:     0;
            left:       0;
            width:      100%;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 1;

            display:    flex;
            padding:    1rem 1rem;
            align-items: center;
            justify-content: center;
        }
    }

    &:hover h2 {
        color: #ffb14b;
    }

    &__cover {
        min-width:  488px;
        min-height: 488px;
        border-radius:  10px;
        transition:     0.4s;
        object-fit:     cover;

        &:hover {
            transform: scale(1.02);
        }
    }

    h2 {
        margin-top: 1rem;
        font-size:  2rem;
        color:      #FFF;
        font-weight: 700;

        &::before {
            content: '"';
        }

        &::after {
            content: '"';
        }
    }

    h3 {
        margin-top: 1rem;
        font-size:  1.5rem;
        color:      #C0C0C0;
    }
}